*{
padding: 0;
margin: 0;
}
header{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(255, 99, 71);
color: white;
height: 75px;
}
nav{
width: 20%;
height: 600px;
}
div{
width: 100%;
height: 30%;
text-align: center;
padding: 10px;
background-color: rgb(255, 174, 165);
font-size: 30px;
}
div:hover{
background-color: rgb(255, 228, 225);
}
main{
width: 80%;
background-color: rgb(255, 228, 225);
}
#glowny{
width: 100%;
display: flex;
}
section{
display: flex;
justify-content: center;
}
footer{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(255, 99, 71);
color: white;
height: 50px;
}
#jeden{
padding: 15px;
}
#dwa{
padding: 10px;
gap: 30px;
}
th{
width: 300px;
}
table{
border: dotted, 2px, black
}
